################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TitleFinder/.vs/TitleFinder
/TitleFinder/bin/Debug/netcoreapp3.1
/TitleFinder/obj
/TitleFinder/wwwroot
/TitleFinder/Properties
/TitleFinder/TitleFinder.csproj.user
